<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainController">
<head>
    <!-- Inclusion de ficheros necesarios -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/Frontend/Assets/img/banco.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/Frontend/Public/CSS/global.css">
    <!-- Título dinámico -->
    <title>VritualCash - {{ pageTitle }}</title>
</head>
<body>

    <!-- Directiva personalizada que carga la plantilla del header -->
    <!-- Si la funcion devuelve false no se muestra -->
    <header-directive ng-if="showHeader()"></header-directive>

    <!-- Se carga el contenido dinamicamente segun la ruta recibida -->
    <main ng-view class="altura"></main>

    <!-- Directiva personaliza que carga la plantila del footer -->
    <!-- Si la funcion devuelve false no se muestra -->
    <footer-directive ng-if="showFooter()"></footer-directive>

    <!-- Inclusion de scripts necesarios. OJO! Muy importante llamar desde la raiz /Frontend -->
    <script src="Frontend/App/Utils/app.js"></script>
    <script src="Frontend/App/Utils/routes.js"></script>
    <script src="Frontend/App/Utils/directivas.js"></script>
    <script src="Frontend/App/Controladores/LoginController.js"></script>
    <script src="Frontend/App/Controladores/PerfilController.js"></script>
    <script src="Frontend/App/Controladores/CalculadoraController.js"></script>
    <script src="Frontend/App/Controladores/AdminController.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
